<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="center-align">
                <h1>Hug Dorblin?</h1>
                <button id="counterButton" class="waves-effect waves-light btn-large"><span id="counterSpan">Hug</span></button>
            </div>
        </div>
    </div>
</div>
<script src="/js/index.js"></script>